// to compile...

@import './nice-select';
@import './_components/_HelveticaNeueLTStd.scss';
@import './_components/_HelveticaNeueLTStd-Cn.scss';

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid red;*/
}

.container {
  width: 970px;
  margin: 0 auto;
  position: relative;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100%;
  height: 30px;
  background: #000;
}

.custom_for_iphone {
  display: none;
  width: 100%;
  height: 49px;
  background: #fafafa;

  span {
    font-size: 15px;
    font-weight: 400;
    color: #838383;
    text-transform: uppercase;
  }
}

.details {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .custom {
    width: auto;
    height: 22px;

    span {
      font-size: 11px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
    }

    #number {
      font-size: 12px;
    }
  }
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  height: inherit;
  width: auto;

  .select-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 73px;
    border-left: 1px solid #444444;
    border-right:1px solid #444444;

    .first_select {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #fff;
      background: #000;
      border: none;
      font-size: 11px;
      font-weight: 400;
      cursor: pointer;
      width: 70px;
      height: inherit;
      border-radius: 0;
      -webkit-transition: all, 0.3s;
      transition: all, 0.3s;

      .option {
        color: #000;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;

        &:hover {
          color: #fff;
          background-color: #000;
        }
      }

      &:after {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
      }
    }
  }

  .account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 126px;
    border-right:1px solid #444444;

    img {
      width: 14px;
      height: 13px;
      margin-right: 10px;
      margin-bottom: 3px;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 400;
      color: #fff;
      cursor: pointer;
      -webkit-transition: all, 0.3s;
      transition: all, 0.3s;

      &:hover {
        color: red;
      }
    }
  }

  .search {
    width: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right:1px solid #444444;

    img {
      margin-top: 3px;
    }
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 730px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 303px;
  }

  header {
    width: 100%;
    height: 96px;
    background: #000;
  }

  .custom_for_iphone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .details {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .custom {
      display: none;

      #number {
        font-size: 15px;
        margin-left: 5px;
      }
    }
  }

  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 47px;
    width: 100%;

    .select-box {

      .first_select {
        font-size: 15px;;
      }
    }

    .account {
      width: 192px;
      height: inherit;
      border-right:1px solid #444444;

      img {
        width: 19.5px;
        height: 19px;
        margin-right: 7.5px;
        margin-bottom: 1.5px;
      }

      a {
        font-size: 15px;
      }
    }

    .search {
      width: 42px;
      border-right: none;

      img {
        height: 20.5px;
        width: auto;
        margin-top: 2.5px;
        margin-left: 5px;
      }
    }
  }
}

.logo_menu {
  width: 100%;
  height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
  #logo {
    width: 120px;
    height: 28px;
  }
}

.menu_cart {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 440px;
  height: auto;

  a {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-transform: lowercase;
    text-decoration: none;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;

    &:hover {
      color: red;
    }
  }
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;

  .cart_1 {
    width: 213px;
    height: 32px;
    border: 1px solid #d6d6d6;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .second_select {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 30px;
      font-size: 12px;
      font-weight: 400;
      color: #949393;
      border: none;
      cursor: pointer;
      outline: none;
      padding-left: 12px;

      .option {
        width: 210px;
        padding-left: 12px;
      }

      &:after {
        border-bottom: 2px solid #949393;
        border-right: 2px solid #949393;
      }
    }
  }

  .cart_2 {
    width: 213px;
    height: 32px;
    background: #fafafa;
    border: 1px solid #d6d6d6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    img {
      width: 20px;
      height: 19px;
      margin-right: auto;
      margin-left: 12px;
    }

    .item {
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: auto;
      margin-right: 4px;

      span {
        font-size: 11px;
        font-weight: 400;
        color: #949393;
        text-transform: uppercase;
        margin-right: 7px;
      }
    }
  }
}

.navbar {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 48px;
  background: #fd926d;

  .sr-only {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-left: 15px;
  }

  .navbar-btn {
    background: #fd926d;
    color: #fff;
    font-size: 35px;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .navbar-btn:hover {
    color: #000;
  }

  .nav-link {
    text-decoration: none;
    font-size: 20px;
    border-bottom: solid 1px #aaa;
    color: #fff;
    display: block;
    min-width: 100px;
    padding: 10px;
  }

  .nav-link:hover {
    color: red;
  }

  .nav-item {
    list-style: none;
    background: #fd926d;
  }

  .nav-item:hover {
    background: #000;
  }

  .navbar-inner {
    background: #fd926d;
    position: absolute;
    right: 0;
    top: 100%;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
    text-align: center;
    z-index: 1;
    width: auto;
  }

  .in {
    opacity: 100;
    visibility: visible;
  }

  .nav {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .menu {
    display: none;
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .logo_menu {
    height: 148px;
  }

  .logo {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    #logo {
      width: 181px;
      height: 44px;
    }
  }

  .menu_cart {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    .menu {
      display: none;
    }

    .cart {
      width: inherit;
      margin-left: 0;

      .cart_1 {
        display: none;
      }

      .cart_2 {
        width: inherit;
        height: 48px;

        img {
          width: 25.5px;
          height: 24.5px;
          margin-right: auto;
          margin-left: 15px;
        }

        .item {

          span {
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            margin-right: 13px;
          }
        }
      }
    }
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;

    .sr-only {
      font-size: 15px;
    }

    .navbar-btn {
      font-size: 25px;
    }

    .nav-link {
      font-size: 15px;
      min-width: 70px;
      padding: 5px;
    }
  }
}

.banner_buttons {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;

  #left_nav_1 {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 42%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
  }

  #left_nav_1:hover {
    opacity: 0.7;
  }

  #right_nav_1 {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 42%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
  }

  #right_nav_1:hover {
    opacity: 0.7;
  }
}

.slick-dots_my {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: -10px;

  li {
    list-style: none;

    button {
      font-size: 0;
      width: 10px;
      height: 12px;
      border: none;
      background: #867a76;
      border-radius: 7px;
      margin: 10px;
      outline: none;
    }

    button:focus {
      background: #fd926d;
    }
  }

  li.slick-active {
    button {
      background: #fd926d;
    }
  }

}



.slick_banner {
  width: 100%;
  height: auto;

  .img_ban {
    width: 100%;
    height: 440px;
  }
}

.banner {
  width: 100%;
  height: 440px;
  background: url(../img/banner.jpg) no-repeat center / cover;
  position: relative;

  .crazy_summer {
    height: 320px;
    position: absolute;
    top: 9.5%;
    left: 15%;
  }

  .shop_now {
    width: 156px;
    height: 54px;
    background: #fd926d;
    border-bottom: 3px solid #dd6b44;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 27.7%;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;

    h1{
      font-size: 16px;
      font-weight: 200;
      color: #fff;
      text-transform: uppercase;
      margin-right: 17px;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

@media screen and (max-width: 991px) {

  .banner_buttons {
    margin-top: 17px;

    .banner {
      height: 350px;
      background: url(../img/banner.jpg) no-repeat center / cover;

      .crazy_summer {
        height: 240px;
        position: absolute;
        top: 17%;
        left: 10%;

        #crazy {
          width: 253px;
          height: 182px;
        }
      }

      .shop_now {
        width: 115px;
        height: 40px;
        bottom: 0;
        left: 27%;

        h1{
          font-size: 12px;
          margin-right: 12px;
        }
      }
    }
  }

  .slick_banner {
    .img_ban {
      height: 350px;
    }
  }
}

@media screen and (max-width: 768px) {
  .banner_buttons {
    display: none;
  }
}

#find {
  width: 100%;
  height: 55px;
  background: #ededed;
}

.find_us {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .email {
    width: 250px;
    height: 28px;
    position: relative;

    form {
      span {
      font-size: 12px;
      font-weight: 400;
      color: #6b6b6b;
      margin: 0;
      }

      input {
        font-size: 12px;
        font-weight: 400;
        color: #9f9f9f;
        font-style: italic;
        width: 160px;
        height: 28px;
        margin-left: 5px;
        outline-color: #343333;
        padding-left: 7px;
      }

      input::-webkit-input-placeholder {
        font-size: 12px;
        font-weight: 400;
        color: #9f9f9f;
        font-style: italic;
      }

      input:-ms-input-placeholder {
        font-size: 12px;
        font-weight: 400;
        color: #9f9f9f;
        font-style: italic;
      }

      input::-ms-input-placeholder {
        font-size: 12px;
        font-weight: 400;
        color: #9f9f9f;
        font-style: italic;
      }

      input::placeholder {
        font-size: 12px;
        font-weight: 400;
        color: #9f9f9f;
        font-style: italic;
      }
    }

    .plus {
      width: 28px;
      height: 28px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: #fd926d;
      border-bottom: 3px solid #dd6b44;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      -webkit-transition: all, 0.3s;
      transition: all, 0.3s;

      img {
        width: 11px;
        height: auto;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .find_us_here {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    height: inherit;
    margin-left: auto;

    span {
      font-size: 12px;
      font-weight: 400;
      color: #6c6c6c;
      margin-right: 15px;
    }

    .find_icon {
      width: 55px;
      height: 55px;
      background: #f7f7f7;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      img {
        width: auto;
        height: 18px;
      }
    }

    .find_icon:nth-child(3){
      background: #ededed;
    }

    .find_icon:hover {
      background: #fd926d;
      opacity: 0.9;
    }
  }
}

@media screen and (max-width:768px) {
  #find {
    height: auto;
    background: none;
  }

  .find_us {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;

    .email {
      width: 100%;
      height: 48px;
      margin-top: 13px;

      form {

        span {
          display: none;
        }

        input {
          font-size: 15px;
          width: 100%;
          height: 48px;
          margin-left: 0;
          background: #ededed;
          border: none;
          padding-left: 15px;
        }

        input::-webkit-input-placeholder {
          font-size: 15px;
        }

        input:-ms-input-placeholder {
          font-size: 15px;
        }

        input::-ms-input-placeholder {
          font-size: 15px;
        }

        input::placeholder {
          font-size: 15px;
        }
      }

      .plus {
        width: 48px;
        height: 48px;

        img {
          width: 18.5px;
          height: auto;
        }
      }
    }

    .find_us_here {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 90%;
      height: 69px;
      margin-left: 0;

      span {
        font-size: 13px;
        margin-right: 17.5px;
      }

      .find_icon {
        width: 44px;
        height: 44px;

        img {
          height: 15px;
        }
      }
    }
  }
}

.best_party {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;

  .party {
    margin-left: 2px;

    .best_sell_fall {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      .best_sell {
        width: 241px;
        height: 169px;
        background: url(../img/best_sellers.jpg) no-repeat center / cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;

        div {
          width: auto;
          height: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 10px;
          cursor: pointer;

          a {
            font-family: HelveticaNeueLTStd-Cn;
            font-size: 33px;
            font-weight: 200;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0;
            margin-right: 10px;
            -webkit-transition: all, 0.3s;
            transition: all, 0.3s;

            &:hover {
              color: red;
            }
          }
        }
      }

      .fall_leather {
        width: 241px;
        height: 169px;
        background: url(../img/fall_leather.jpg) no-repeat center / cover;

        .fall_leather_shop {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 120px;
          height: auto;
          margin-top: 40px;
          margin-left: 10px;

          a {
            text-align: center;
            text-decoration: none;
            font-size: 36px;
            font-family: HelveticaNeueLTStd-Cn;
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
            line-height: 0.9;
            margin-bottom: 15px;
            -webkit-transition: all, 0.3s;
            transition: all, 0.3s;

            &:hover {
              color: red;
            }
          }

          .butt_shop {
            width: 98px;
            height: 29px;
            background: #4fafa0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            cursor: pointer;
            -webkit-transition: all, 0.3s;
            transition: all, 0.3s;

            span {
              font-size: 12px;
              font-weight: 400;
              color: #fff;
              text-transform: uppercase;
              margin-right: 10px;
            }

            &:hover {
              opacity: 0.9;

              span {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .best_party {
    margin-top: 33px;

    .best {
      img{
        width: 364px;
        height: auto;
      }
    }

    .party {
      margin-left: 2px;
      #party_collection {
        width: 364px;
        height: auto;
      }

      .best_sell_fall {

        .best_sell {
          width: 180px;
          height: 127px;

          div {
            a {
              font-size: 26px;
              margin-right: 8px;
            }
          }
        }

        .fall_leather {
          width: 180px;
          height: 127px;

          .fall_leather_shop {
            width: 92px;
            margin-top: 34px;
            margin-left: 7px;

            a {
              font-size: 28px;
              margin-bottom: 10px;
            }

            .butt_shop {
              width: 75px;
              height: 21px;

              span {
                font-size: 10px;
                margin-right: 7px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .best_party {
    display: none;
  }
}

.goods_nav {
  width: 100%;
  height: 47px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .nav_charpets {
    width: 475px;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .charpet {
      width: 25%;
      height: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      span {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 400;
        color: #555555;
        cursor: pointer;
      }
    }

    .charpet_click {
      background: #fd926d;

      a {
        color: #fff;
      }
    }
  }

  .nav_arrows {
    width: 94px;
    height: inherit;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .arrow {
      width: 50%;
      height: inherit;
      background: #f2f2f2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;

      .click {
        display: none;
      }
    }

    .arrow_click {
      background: #fd926d;

      .not_click {
        display: none;
      }

      .click {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }
}

.charpet_for_iphone {
  display: none;
}

// .our_products {
//   width: 1180px;
//   margin: 0 auto;
// }

.content {
  width: 100%;
  height: 455px;
  background: #fc916d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;


  .products {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    .product {
      width: 220px !important;
      height: 395px;
      background: #f7f7f7;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      margin-left: 31px;
      -webkit-transition: all, 0.3s;
      transition: all, 0.3s;

      .product_img {
        width: 220px;
        height: 290px;
      }

      .product_title {
        margin-top: 9px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #373737;
      }

      .product_price {
        margin-top: 9px;
        font-size: 22px;
        font-weight: 400;
        color: #373737;
      }

      .add_to_cart {
        width: 120px;
        height: 32px;
        background: #fd926d;
        border-bottom: 3px solid #dd6b44;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        cursor: pointer;
        margin-top: 9px;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;

        span {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 400;
          color: #fff;
          margin-right: 10px;
        }

        img {
          width: 11px;
          height: auto;
        }

        &:hover {
          opacity: 0.9;
        }
      }

      .shop_it {
        display: none;

      }

      .sale {
        position: absolute;
        top: 0;
        left: 0;
        }

    }

    .product:hover {
      -webkit-box-shadow: 5px 5px 40px #333;
              box-shadow: 5px 5px 40px #333;

      .shop_it {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 134px;
        height: 134px;
        background: #3d3d3d;
        border-radius: 70px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        cursor: pointer;

        span {
          font-size: 12px;
          font-weight: 400;
          color: #fff;
          text-transform: uppercase;
          margin-top: 9px;
        }
      }
    }
  }
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load_more_iphone {
  display: none;
}



@media screen and (max-width: 991px) {
  .our_products {
    width: 750px;
  }
  .content {
    .products {
      .product {
        margin-left: 28px;
        -webkit-transform: translateX(-7px);
                transform: translateX(-7px);
      }
    }
  }
}

@media screen and (max-width: 768px){
  .goods_nav {
    display: none;
  }

  .charpet_for_iphone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 303px;
    height: auto;
    margin: 0 auto;

    form {
      width: 100%;

      .third_select {
        width: 100%;
        height: 44px;
        outline: none;
        border: none;
        border-radius: 0;
        background: #f4845d;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;

        .option {
          color: #000;
          width: 303px;
          -webkit-transition: all, 0.3s;
          transition: all, 0.3s;

          &:hover {
            color: #fff;
            background: #f4845d;
          }
        }

        &:after {
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
        }
      }
    }
  }

  .our_products {
    width: 303px;

  }

  .content {
    height: 278px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 303px;
    overflow-x: hidden;

    .products {
      height: auto;

      .product {
        width: 137px;
        height: 262px;
        margin-left: 15.5px;
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        position: relative;

        .product_img {
          width: 137px;
          height: 181px;
        }

        .product_title {
          margin-top: 6px;
          font-size: 9px;
        }

        .product_price {
          margin-top: 6px;
          font-size: 14px;
        }

        .add_to_cart {
          width: 110px;
          height: 32px;
          margin-top: 5.5px;

          span {
            font-size: 10px;
            margin-right: 10px;
          }

          img {
            width: 8.5px;
            height: auto;
          }
        }
      }
      .product:hover {

        .shop_it {
          display: none;
        }
      }
    }
  }

  .load_more_iphone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 303px;
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fd926d;
    margin: 0 auto;

    .load_more {
      height: 30px;
      width: 110px;
      background: #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;

      span {
        font-size: 10px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;

        &:hover {
          color: red;
        }
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.clearance {
  width: inherit;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  .clearans {
    width: inherit;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 22px;

    hr {
      width: 390px;
      height: 0.5px;
      background: #d8d8d8;
    }
  }

  .cl_products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    width: inherit;
  }
}

.product {
  width: 220px;
  height: 395px;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;

  .product_img {
    width: 220px;
    height: 290px;
  }

  .product_title {
    margin-top: 9px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #373737;
  }

  .product_price {
    margin-top: 9px;
    font-size: 22px;
    font-weight: 400;
    color: #373737;
  }

  .add_to_cart {
    width: 120px;
    height: 32px;
    background: #fd926d;
    border-bottom: 3px solid #dd6b44;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    margin-top: 9px;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;

    span {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      margin-right: 10px;
    }

    img {
      width: 11px;
      height: auto;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  .sale {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.prod_iphone {
  display: none;
}

@media screen and (max-width: 991px) {
  .clearance {

    .clearans {
      hr {
        width: 280px;
      }
    }

    .cl_products {
      overflow-x: hidden;
    }
  }

  .hide_ipad {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .clearance {
    height: 370px;
    .clearans {
      img {
        width: 80px;
        height: auto;
      }
      hr {
        width: 100px;
      }
    }

    .cl_products {
      overflow-x: hidden;
    }
  }

  .hide_iphone {
    display: none;
  }

  .prod_iphone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .product {
    width: 137px;
    height: 262px;
    margin-left: 15.5px;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    position: relative;

    .product_img {
      width: 137px;
      height: 181px;
    }

    .product_title {
      margin-top: 6px;
      font-size: 9px;
    }

    .product_price {
      margin-top: 6px;
      font-size: 14px;
    }

    .add_to_cart {
      width: 110px;
      height: 32px;
      margin-top: 5.5px;

      span {
        font-size: 10px;
        margin-right: 10px;
      }

      img {
        width: 8.5px;
        height: auto;
      }
    }
  }

  .load_more_iphone_2 {
    background: #fff;
  }
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 60px;

  .favor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    hr {
      width: 42.1%;
      height: 0.5px;
      background: #d8d8d8;
    }

    span {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      color: #414141;
    }
  }

  .favorite_brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 96px;

    img {
      cursor: pointer;
    }
  }

  #full_hr {
    width: 97.3%;
    height: 0.5px;
    background: #d8d8d8;
  }
}

@media screen and (max-width: 991px) {
  .brands {
    .favor {
      hr {
        width: 37.1%;
      }
    }

    .favorite_brands {
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
  }
}

@media screen and (max-width: 768px) {
  .brands {
    display: none;
  }
}

.about_lookshop {
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  h1 {
    font-size: 24px;
    font-weight: 400;
    color: #414141;
    margin-bottom: 0;
  }

  p {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 991px){
  .about_lookshop {
    height: 180px;

    p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px){
  .about_lookshop {
    display: none;
  }
}

#accept {
  width: 100%;
  height: 58px;
  background: #f7f7f7;
}

.we_accept {
  width: 550px;
  height: 58px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  span {
    font-size: 12px;
    font-weight: 400;
    color: #414141;
    margin-right: 5px;
  }

  a {
    cursor: pointer;
    height: 22px;
  }
}

@media screen and (max-width: 768px){
  #accept {
    display: none;
  }
}

#dif_inf {
  width: 100%;
  height: 198px;
  background: #ededed;
}

.different_info {
  width: 100%;
  height: 198px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  .dif_info_block_1 {
    width: 610px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;

    .info_column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      width: auto;
      height: auto;

      h1 {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #544f4d;
      }

      ul {
        padding: 0;

        li {
          list-style: none;

          a {
            text-decoration: none;
            font-size: 12px;
            font-weight: 400;
            color: #544f4d;
            cursor: pointer;
            -webkit-transition: all, 0.3s;
            transition: all, 0.3s;

            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }

  .dif_info_block_2 {
    width: 300px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;

    .info_soc {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      h1 {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #544f4d;
      }

      .soc_icons {
        width: 125px;
        height: 87px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 23px;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;

        img:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }

    .secured {
      margin-top: 20px;
      margin-right: 17px;
    }
  }
}

@media screen and (max-width: 991px) {
  #dif_inf {
    height: 347px;
  }

  .different_info {
    height: auto;

    .dif_info_block_1 {
      width: 295px;

      #stores {
        margin-right: 37px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  #dif_inf {
    display: none;
  }
}

footer {
  width: 100%;
  height: 75px;
  background: #000;
}

.footer_info {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    color: #8d8d8d;
    cursor: pointer;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;

    &:hover {
      color: red;
    }
  }

  .footer_menu {
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    a {
      padding-right: 12px;
      border-right: 1px solid #8d8d8d;
    }

    a:last-child {
      border: none;
      padding-right: 0;
    }
  }

  .footer_menu_iphone {
    display: none;
  }

  .license {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;

    span {
      font-size: 11px;
      font-weight: 400;
      color: #8d8d8d;
      margin-top: 3px;
    }
  }
}

@media screen and (max-width: 768px){
  footer {
    height: 55px;
  }

  .footer_info {
    width: inherit;
    height: 55px;

    a {
      font-size: 12px;
    }

    .footer_menu {
      display: none;
    }

    .footer_menu_iphone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: inherit;

      .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        background: #000;
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);

        .navbar-btn {
          background: #000;
          color: #fff;
          font-size: 24px;
          border: none;
          cursor: pointer;
          outline: none;
          height: auto;
          -webkit-transition: all, 0.3s;
          transition: all, 0.3s;

          &:hover {
            color: red;
          }

        }

        .nav-link {
          text-decoration: none;
          font-size: 15px;
          font-weight: 500;
          border-bottom: solid 1px #aaa;
          color: #fff;
          display: block;
          min-width: 150px;
          padding: 5px;
          background: #000;
        }

        .nav-link:hover {
          color: #000;
          background: #fd926d;
        }

        .nav-item {
          list-style: none;
        }

        .navbar-inner {
          background: #fd926d;
          position: absolute;
          top: -200%;
          left: 80%;
          visibility: hidden;
          -webkit-transition: opacity 0.3s, visibility 0.3s;
          transition: opacity 0.3s, visibility 0.3s;
          text-align: center;
          z-index: 1;
          width: auto;
        }

        .in {
          opacity: 100;
          visibility: visible;
        }

        .nav {
          margin: 0;
          padding: 0;
        }
      }
    }

    .license {
      margin-right: 10px;

      span {
        font-size: 12px;
      }
    }
  }
}
